header{
    background-color: rgb(3, 3, 123);
    color: white;
    text-align: justify;
    vertical-align: baseline;
}

nav{
    background-color: rgb(1, 1, 69);
    color: white;
}

img{
    display: inline;
}
h2{
    display: inline;
    vertical-align: top;
    text-align: center;
}